img {
  height: auto;
  max-width: 100%;
}

img, picture {
  font-size: 0;
}

figcaption {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-style: italic;
}

.content .gitpod-mark-monochrome.icon {
  margin-bottom: 0.125rem;
  margin-right: 0.5rem;
}
